// npm run build-css
// npm run watch-css

$badass: #bada55;

@import 'variables';

body {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}

#img-tag {
  width: 400px;
  box-shadow: $shadow;
  margin: 10px 0 0px 10px;
}

#error-msg {
  width: 400px;
  color: red;
  background-color: #F2DEDE;
  margin-left: 10px;
  text-align: center;
}

button {
  margin: 10px;
  height: 25px;
  outline: none;
  background-color: lightgray;
  border: $border;
  font-weight: 300;
}

#open-file:hover {
  box-shadow: $shadow;
}

.content {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 5px;
  width: 400px;
  font-size: 15px;
}

.color-content {
  width: 90px;
  margin: 5px;
  text-align: center;
}

.color-div {
  margin-bottom: 4px;
  border: $border;
  box-shadow: $shadow;
  height: 50px;
  width: 90px;
}

.hex-code {
  margin: 5px;
  border-bottom: $border;
  padding-bottom: 5px;
}

.rgb-code {
  margin: 0;
  padding-top: 5px;
}

.upload-another {
  display: block;
}

.dragging-label {
  display: none;
}

.drag-drop-section {
  display: block;
}

.default-label {
  position: relative;
  top: 8rem;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
}

.drop-zone {
  height: 20rem;
  width: 400px;
  background-color: gray;
  display: none;
}

.dragging {
  font-weight: 700;
  .drop-zone-label {
    position: relative;
    top: 8rem;
    color: black;
    font-size: 1.8rem;
    text-align: center;
    pointer-events: none;
    text-transform: uppercase;
  }
  .default-label {
    display: none;
  }
  .dragging-label {
    display: block;
  }
}
